# Database connection settings
DUCKDB_OLTP_CONNECTION=asb_oltp.duckdb
DUCKDB_OLAP_CONNECTION=asb_olap.duckdb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_OLTP=asb_oltp
POSTGRES_DB_OLAP=asb_olap
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
